body {
    margin: 0;
}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.row {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-gap: 10px;
    position: absolute;
    top: 60%;
    left: 20%;

}

.item {
    text-align: center;
    color: white;
    padding: 1.5em 0;
    font-size: 2em;
}

.a {
    background: #0d9;
}

.b {
    background: #d90;
}

.c {
    background: #9d0;
}

.d {
    background: #90d;
}

.e {
    background: #d09;
}

.f {
    background: #09d;
}

.g {
    background: #09d;
}

.h {
    background: #09d;

}