<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/randomSummerCamps.css}"/>

</head>
<body>
<tr th:each="randomThruHiking:${randomThruHiking}">
    <div class="title">
        <h1 th:text="${randomThruHiking.title}"></h1>
        <h1>we think this trip best suit you.</h1>
        <div class="description">
            <td th:text="${randomThruHiking.description}"></td>
        </div>
        <button type="button" onclick="document.location.href = '/backpacking/getRandomThruHiking'">Randomize
            again!
        </button>
    </div>
</tr>


</body>
</html>