<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/randomSummerCamps.css}"/>

</head>
<body>
<tr th:each="randomSummerCamp:${randomSummerCamps}">
    <div class="header">
        <h1>We found a trip that suits you</h1>
        <h1 th:text="${randomSummerCamp.title}"></h1>
        <h1 th:text="${randomSummerCamp.state}"></h1>
    </div>
    <div class="content">
        <div>
            <p th:text="${randomSummerCamp.description}"></p>
        </div>
        <div>
            <img alt="" th:src="*{'data:image/jpeg;base64,'+{randomSummerCamp.image}}" src="">
            <button type="button" onclick="document.location.href = '/adventureHolidays/getRandomSummerCamps'">Randomize
                again!
            </button>
            <form role="form" th:action="@{/api/userProfile/savedAdventureHolidays} + '/post/'+ ${randomSummerCamp.id}"
                  th:method="post">
                <button id="login" class="btn btn-lg btn-success btn-block" type="submit">Save</button>
            </form>
        </div>
    </div>

</tr>
</body>
</html>