<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/randomSummerCamps.css}"/>

</head>
<body>
<tr th:each="randomSummerCamps:${randomSummerCamps}">
    <div class="title">
        <h1>We think this trip best suit you.</h1>
        <h1 th:text="${randomSummerCamps.title}"></h1>
        <h1 th:text="${randomSummerCamps.state}"></h1>
        <div class="description">
            <td th:text="${randomSummerCamps.description}"></td>
        </div>
        <img th:if="${randomSummerCamps.image != null}" alt="sample" th:src="*{'data:image/png;base64,'+randomImage}"/>
        <button type="button" onclick="document.location.href = '/adventureHolidays/getRandomSummerCamps'">Randomize
            again!
        </button>
    </div>
</tr>
</body>
</html>